@using MedicoApp.Core.Application.ViewModels.User;
@model SaveUserViewModel
@{    
    ViewData["Title"] = "Registro";    
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Registro de nuevo usuario</h4>
                </div>
                <div class="card-body">

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <form method="post" asp-controller="User" asp-action="Create">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Apellido" class="form-label">Apellido: </label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña: </label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-check">

                             <div class="form-check">
                                <input class="form-check-input" asp-for="Admin" type="checkbox"  value="@true" id="flexCheckDefault">
                             <label class="form-check-label" for="flexCheckDefault">
                                                                             Admin </label>

                             </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>




                </div>

            </div>
        </div>
    </div>

</div>