@using MedicoApp.Core.Application.ViewModels.PruebaDeLab;
@model SavePruebaDeLabViewModel
@{
    ViewData["Title"] = "SavePruebaDeLab";
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar PruebaDeLab";
}

<h1>SavePruebaDeLab</h1>
<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editando la prueba: {Model.Name}" : "Creando la prueba")</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="PruebaDeLab" asp-action="@(editMode ? "Edit":"Create")">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="PruebaDeLab" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>


