@using MedicoApp.Core.Application.ViewModels.Citas;
@model SaveCitasViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">

    <div class="col-6 offset-3" >
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4>Esta seguro que desea eliminar este Medico @Model.Name?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Citas" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Citas" asp-action="Index" class="btn btn-warning">Cancelar</a>

                </form>

            </div>
        </div>
    </div>

</div>
